/* src/pages/LoginPage.css */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form input {
  width: 93.6%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #005fa3;
}

.login-form .link {
  margin-top: 12px;
  text-align: center;
  color: #0077cc;
  cursor: pointer;
}

.login-form .link:hover {
  text-decoration: underline;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 16px;
}
.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-container input {
  padding-right: 2.5rem; /* Leave space for the icon */
}

.password-toggle-icon {
  position: absolute;
  right: 0.75rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0.7;
  margin-bottom: 15px;
}


